.modal-header, h4, .close {
      background-color: #5cb85c;
      color:white !important;
      text-align: center;
      font-size: 16px;
  }
  .modal-footer {
      background-color: #f9f9f9;
  }

  div.modal-body{

    display: flex;
    justify-content: space-around;
    padding: 50px 20px 80px;
  }

  .modal-dialog{
    width: 1200px;
    height: 500px;

  }

  .servicio{
    width: 210px;
    height: 400px;

  }
  .servicio h5{
    color: red;
    font-size: 16px;
    line-height: inherit;
  }

  .modal-footer{
    display: flex;
    justify-content:space-between;
    padding: 15px 0px;
    background-color: black;
  }

  .modal-footer h6{
    color: white;
    cursor: pointer;

  }
