#slides {
  position: relative;

}
#slides .slides-container {
  display: none;

}


#slides .scrollable {
  *zoom: 1;
  position: relative;
  top: 0;
  left: 0;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  height: 100%;
}
#slides .scrollable:after {
  content: "";
  display: table;
  clear: both;
}

/*   .slides-navigation {
  margin: 0 auto;
  position: absolute;
  z-index: 3;
  top: 46%;
  width: 100%;
}
.slides-navigation a{
  position: absolute;
  display: block;
  width: 40px;
  height: 40px;
  font-size:30px;
  text-decoration: none;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 10px;
  text-align: center;
  line-height: 40px;
  font-weight: bold;
  border-radius: 50%;
} */ 
.slides-navigation a:hover{
  background: #000;
}
.slides-navigation a.prev {
  left: 0;
   width: 40px;
  height: 40px;
  font-size:30px;
  text-decoration: none;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 10px;
  text-align: center;
  line-height: 40px;
  font-weight: bold;
}
.slides-navigation a.next {
  right: 0;
   width: 40px;
  height: 40px;
  font-size:30px;
  text-decoration: none;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 10px;
  text-align: center;
  line-height: 40px;
  font-weight: bold;
}

 .slides-pagination, .connect {
  position: absolute;
  z-index: 4;
  bottom: 0;
 /*  text-align: center; */
  width: 100%;
  
   padding: 15px; 
   
}
 .slides-pagination a{
 /*  border: 2px solid #222;
  border-radius: 15px;
  width: 10px;
  height: 10px; */
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR4nGP6zwAAAgcBApocMXEAAAAASUVORK5CYII=");
  margin: 2px;
  overflow: hidden;
  text-indent: -100%;
 
}   
.slides-pagination a.current {
  background: #222;
}





.connect {
    z-index: 10;
    position: fixed;
    width: 100%;
    list-style: none;
    margin: 0;
    margin-left: 0;
    padding: 0 0 0 30px;
    background: rgba(0, 0, 0, 0.5);
/*  &::after {
    $bgsize: 5px,
    $bgpoint: 20%,
    $bgcolor: rgba(white,.1)
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image:
      radial-gradient(
        $bgcolor $bgpoint,
        transparent $bgpoint
      );
    background-size: $bgsize $bgsize;
  }
    */
    display: flex;
    align-items: baseline;

}



--------------------------------------------------------------

.social-incons {
color: white;

display: inline-block;
align-items: center;

}


a .incon-li{
color: white;

font-size: 24px;

}

.flex-incons{
display: inline-block;
justify-content: space-around;  
height: 45px;

}



.contacto{
  
    
  color: white;
  font-size: 12px;
  display: inline-block;
  font-family: 'Dosis', sans-serif;

  
}

.flex-contacto{
  display: inline;
  justify-content: space-around;
  align-items: center;
  height: 45px;
  width: 1438px;

}



.contacto a{
  color: white;
  text-decoration: none;
  

} 


.contenedor-footer{
 
  position: relative;
 
 /*  width: 100%; */
}



@media screen and (max-width:494px ) {



  .connect {
    z-index: 10;
    position: fixed;
    width: 100%;
    list-style: none;
    margin: 0;
    margin-left: 0;
    padding: 0 0 0 30px;
    background: rgba(0, 0, 0,0.5);
/*  &::after {
    $bgsize: 5px,
    $bgpoint: 20%,
    $bgcolor: rgba(white,.1)
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image:
      radial-gradient(
        $bgcolor $bgpoint,
        transparent $bgpoint
      );
    background-size: $bgsize $bgsize;
  }
    */
    display: flex;
    align-items: baseline;

}
  
.social-incons {
color: white;

display: inline-block;
align-items: center;

}


a  .incon-li{
color: white;

font-size: 20px;

}

.flex-incons{
display: inline-block;
justify-content: space-around;  
height: 45px;

}

body{
   border: 3px solid red;
}

.contacto{
  
    
  color: white;
  font-size: 8px;
  display: inline-block;
  font-family: 'Dosis', sans-serif;


  
}

.flex-contacto{
  display: inline;
  justify-content: space-around;
  align-items: center;
  height: 45px;
  width: 1438px;

}



.contacto a{
  color: white;
  text-decoration: none;
  

} 


}
